@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

root {
  --color-bg: #2F2C43;
  --color-bg-variant: #9D9694;
  --color-primary: #3C8986;
  --color-primary-variant: #84CECD;
  --color-white: #F2F3F1;
  --color-light: #F3F0F3;

  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  font-size: 18px;
  line-height: 1.7;
  font-weight: 100;
}

/* General styles */
H1 {
  font-family: 'Original Surfer', cursive;
}

